
body { 
  background-color: #4F4F4F;
}

.wrapper-1 {
    margin: 20px;
    background-color: #ECF7F0;
    position: relative;
    height: 100%; 
    overflow: hidden;
}

.menu-content{
    width: 100%;
    text-align: center;

    a:hover {
        color: #FFC8D1;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
    ul{
        margin-top: 20px;
        padding-top: 30px;
    }
    #menu li{
        text-decoration: none;
        display: inline;
        text-align: center;
        padding-left: 15px;
    }
}

#menu-line {
    margin-left: 4em;
    margin-right: 4em;
    opacity: .2;
    margin-top: 1.5em;
}

.main-header h1{
    margin-left: 150px;
    font-size: 96px;
}

h1#fname {
    margin-top: 180px;
    font-weight: 700;
}


h1#lname {
    font-weight: 100;
}

#subheader {
    margin-left: 155px;
    
    * {
        display: inline;
    }
    
    h2 {
        font-size: 18px;
        font-weight:100;
    }
}

#wrapper-2 {
    margin-top: 160px;
    display: block;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    box-sizing: inherit;

    #about {
        margin-top: 100px;
        font-weight: 100;
        font-size: 18px;
        text-align: justify;
        display: block;
        float: left;
        margin-left: 90px;
        width: 550px;
        letter-spacing: 1px;
        line-height: 2em;
    }
    img {
        margin-bottom: 50px;
        float: right;
        margin-right: 90px;
        margin-top: 100px;
        display: block;
    }
}

#project-wrapper {

    h1 {
        margin-left: 90px;
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
    }

    hr {
        margin-left: 170px;
        margin-right: 1010px;
    }     
    
    .project1{
        margin-left: 90px;
        float: left;
        height: 387px;
        width: 436px;
        margin-bottom: 30px;
        background: url("/images/gold.png");
        border-radius: 10px;
    }

    .back {
        margin-left: 90px;
        height: 387px;
        width: 436px;
        margin-bottom: 30px;
        background: #FFFFFF;
        border-radius: 10px;
    }

        .project2 {
        margin-left: 90px;
        margin-right: auto;
        float: left;
        height: 387px;
        width: 436px;
        margin-bottom: 30px;
        background: url("/images/string.png");
        border-radius: 10px;
    }
        .project3 {
        height: 387px;
        margin-left: 90px;
        float: left;
        margin-right: auto;
        width: 436px;
        margin-bottom: 30px;
        background: url("/images/disc.png");
         border-radius: 10px;
    }
        .project4 {
        margin-left: 90px;
        margin-right: auto;
        float: left;
        height: 387px;
        width: 436px;
        margin-bottom: 30px;
        background: url("/images/auth.png");
        border-radius: 10px;
    }
        .project5 {
        margin-left: 90px;
        margin-right: auto;
        float: left;
        height: 387px;
        width: 436px;
        margin-bottom: 30px;
        background: url("/images/flash.png");
        border-radius: 10px;
    }
        .project6 {
        margin-left: 90px;
        margin-right: auto;
        float: left;
        height: 387px;
        width: 436px;
        margin-bottom: 30px;
        background: url("/images/auction.png");
        border-radius: 10px;
    }


    .project {
        -moz-box-shadow: 10 10px 10px #000; 
        -webkit-box-shadow: 10 10px 10px #000;
        box-shadow: 10px 10px 10px #000; 
         -webkit-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }

    .clearfix:before,
    .clearfix:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    .clearfix:after {
        clear: both;
    }

    .p-title {
        font-weight: 500;
        font-size: 24px;
        margin-left: 620px;
         color: #FFC8D1;
    }

    .p-desc {
        font-weight: 100;
        text-align: justify;
        margin-left: 620px;
        margin-right: 20px; 
        line-height: 2em;
        letter-spacing: 2px;
        color: #FFFFFF;
    }


    .p-desc2 {
        font-weight: 100;
        text-align: justify;
        margin-left: 620px;
        margin-right: 20px; 
        line-height: 2em;
        letter-spacing: 2px;
        color: #FFFFFF;

    }
}


#likes-wrapper {

    display: block;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    background-color: #ECF7F0;
    overflow: hidden;
    box-sizing: inherit;

    h1 {
        margin-top: 20px; 
        margin-left: 90px;
        font-size: 36px;
        font-weight: 700;
        color: #4F4F4F;
    }

     hr {
        color: #4F4F4F;
        margin-left: 150px;
        margin-right: 990px;
    }

    h3 {
        margin-left: 90px;
        margin-top: 20px;
        color: #FF0000;
        font-size: 18px;
        font-weight: 100;
    }

    div.skill-table {
        margin-left: 90px;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    table {
        border-collapse: collapse;
    }

    table td {

        font-weight: 100;
        padding-right: 50px;
    }
}

#work-wrapper {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    background-color: #FFC8D1;
    overflow: hidden;
    box-sizing: inherit;

    h1 {
        margin-top: 20px; 
        margin-left: 90px;
        font-size: 36px;
        font-weight: 700;
        color: #4F4F4F;

    }
    
    hr {
        color: #4F4F4F;
        margin-left: 150px;
        margin-right: 990px;
    }


    .work-1 {
        display: inline-block;
    }
     .work-2 {
        margin-left: 50px;
        text-align: center;
        display: inline-block;
    }
     .work-3 {
        display: inline-block;
    }


    h3.title  {
        margin-left: 90px;
        float: left;
        font-size: 18px;
        color: #297B31;
        font-weight: 700;
    }

    h3.place {
        margin-left: 200px;
        font-size: 18px;
        color: #000000;
        font-weight: 400;
        display: inline;
    }

    h3.period {
        float: right;
        margin-right: 90px;
        font-size: 18px;
        color: #000000;
        font-weight: 100;
    }
      p {
        text-align: justify;
        margin-left: 90px;
        margin-right: 90px;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 2em;
    }

    .padding2 {
        padding-left: 70px;
    }

    .padding1 {
        padding-left: 40px;
    }
}

.contact-wrapper {
    margin-top: 40px;
    height: 500px;

    h1 {
        font-size: 36px;
        font-weight: 100;
        text-align: center;
    }

    ul {
        text-align: center;
    }
    .social li {
        margin-top: 100px;
        text-decoration: none;
        display: inline-block;
        padding-left: 50px;
        
    }
    .image-wrapper {
        text-align: center;
        margin-top: 100px;
    }
    .social img {

        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }


    #footer {
        margin-top: 30px;
        text-align: center;
    
    * {
        display: inline;
    }
    
    h2 {
        font-size: 18px;
        font-weight:100;
    }
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 


    #wrapper-2 {
    margin-top: 160px;
    background-color: #FFFFFF;
    text-align: center;
    }

            p#about {
            margin-top: 100px;
            font-weight: 100;
            font-size: 18px;
            margin-left: 90px;
            letter-spacing: 1px;
            line-height: 2em;
        }

        img {
            margin-bottom: 50px;
            margin-right: 90px;
            margin-top: 100px;
        }
}
