// This is a partial. This should not have YAML front matter 
// and does not have corresponding output file in _site dir.

h1,h2,h3,h4,h5,h6,body,html,p,ul,li {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

html, body {
	width: 100%;
	overflow-x: hidden;
}